@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8b3dff;
  --dark-gray: #4a4a4a;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b3dff, #6a26d9);
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9f60ff, #7b3eff);
}

:root.dark ::-webkit-scrollbar-track {
  background: var(--background);
}

:root.dark ::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}

:root.dark ::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8b3dff var(--background);
}

:root.dark * {
  scrollbar-color: #2a2a2a var(--background);
}
html {
  scroll-behavior: smooth;
}
